<header id="home" class="valign-wrapper">
  <div class="row">
    <div class="container">
      <div class="col s12 m10 l10 center-column bg-text">
        <h1><strong>Hello<span>,</span></strong></h1>
        <p>I am <strong class="name"> Brandon Espinoza</strong>, a <strong>Web Designer</strong>, and <strong>Developer</strong> living in the Nashville, TN Area.
           I do all kinds of work such as <strong>Web</strong> and <strong>Graphic Design</strong>, <strong>Web-Based Applications</strong>, and <strong>Windows Desktop Applications</strong>. 
           I am very passionate about my work, every project is a new opportunity to create something captivating, unique, helpful, and useful. 
           I focus on every <strong>little</strong> detail. To always give you the best experience, I use the latest web technologies to develop your project.
        </p>
        <p>I am currently available for hire, full-time or freelance.</p>
      </div> 
    </div> 
  </div>
</header>