<header id="home" class="valign-wrapper">
  <div class="row">
    <div class="container">
      <div class="col s12 m10 l10 center-column bg-text">
        <h1><strong>Hello<span>,</span></strong></h1>
        <p>I am <strong class="name"> Brandon Espinoza</strong>, a <strong>Web Designer</strong>, and <strong>Developer</strong> living in the Nashville, TN Area.
           I do all kinds of work such as <strong>Web</strong> and <strong>Graphic Design</strong>, <strong>Web-Based Applications</strong>, and <strong>Windows Desktop Applications</strong>. 
           I am very passionate about my work, every project is a new opportunity to create something captivating, unique, helpful, and useful. 
           I focus on every <strong>little</strong> detail. To always give you the best experience, I use the latest web technologies to develop your project.
        </p>
        <p>I am currently available for hire, full-time or freelance.</p>
      </div> 
    </div> 
  </div>
</header>

<div class="row" id="projects">
  <div class="container">
    <h1>My Work</h1>
    <% @projects.each do |p|%>
  
      <div class="col s12 m6 l6">
        <%= image_tag p.project_image.url(:medium) %>
        <h3><%= link_to p.title, p %></h3>
        <p><%= p.description %></p>
      </div>
  
    <%end%>
    <%= link_to "New project", new_project_path, class: "btn btn-default btn-new-project" %>
  </div>
</div>