<header id="home" class="valign-wrapper">
  <div class="row">
    <div class="container">
      <div class="col s12 m10 l10 center-column bg-text">
        <h1><strong>Hello<span>,</span></strong></h1>
        <p>I am <strong class="name"> Brandon Espinoza</strong>, a <strong>Web Designer</strong>, and <strong>Developer</strong> living in the Nashville, TN Area.
           I do all kinds of work such as <strong>Web</strong> and <strong>Graphic Design</strong>, <strong>Web-Based Applications</strong>, and <strong>Windows Desktop Applications</strong>. 
           I am very passionate about my work, every project is a new opportunity to create something captivating, unique, helpful, and useful. 
           I focus on every <strong>little</strong> detail. To always give you the best experience, I use the latest web technologies to develop your project.
        </p>
        <p>I am available for hire, full-time or freelance.</p>
      </div> 
    </div> 
  </div>
</header>

<div class="row" id="projects">
  <div class="container">
    <h1>My Work</h1>
    <% @projects.each do |p|%>
  
      <div class="col s12 m6 l6">
        <div class="card projects-bg" style="background-image: url(<%= p.project_image %>); 
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center;
        background-size: cover;">
          <div class="card-content white-text">
            <span class="card-title"><%= link_to p.title, p %></span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
  
    <%end%>
    <%= link_to "New project", new_project_path, class: "btn btn-default btn-new-project" %>
  </div>
</div>