// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "imports";
body{
  color: $azul;
}
p{
  font-size: 18px;
}
header{
  height: 100vh;
  width: 100%;
  background: $azul;
  .bg-text{
    h1{
      color: #fff;
      span{
        color: $verde;
      }
    }
    p{
      letter-spacing: 2px;
      color: #fff;
      strong{
        color: $verde;
      } strong.name{
        color: $amarillo;
      }
    }
  }
}