$azul:#374056;
$verde: #69d6b0;
$amarillo: #f3c91b;
$gris: #ededed;

@import "materialize/components/color";
@import "materialize";
@mixin transition($transition...) {
  -moz-transition:    $transition !important;
  -o-transition:      $transition !important;
  -webkit-transition: $transition !important;
  transition:         $transition !important;
}